<!DOCTYPE html>
<html th:replace="~{layout :: maincontent(~{::section})}" xmlns:th="http://www.w3.org/1999/xhtml">
<section>
    <form th:action="@{/questionnaires} + '/' + ${questionnaire.id}" th:object="${questionnaire}" th:method="put">
        <div class="form-group row">
            <label class="col-md-2" for="title">Title:</label>
            <div class="col-md-10">
                <input type="text" id="title" class="form-control" th:field="*{title}" autofocus="autofocus"/>
                <span th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Title Error</span>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-2" for="description">Description:</label>
            <div class="col-md-10">
                <input type="text" id="description" class="form-control" th:field="*{description}"/>
                <span th:if="${#fields.hasErrors('description')}" th:errors="*{description}">Description Error</span>
            </div>
        </div>
        <div class="form-group row"><a class="btn btn-default" th:href="@{/questionnaires}">Cancel</a>
            <button type="submit" class="btn btn-primary">Update</button>
        </div>
    </form>
</section>
</html>