<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="maincontent(content)"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>Flashcard SpringMVC</title>
</head>
<body>
<div class="container-fluid">
    <div th:replace="~{header :: header}"></div>
    <div th:replace="${content}"></div>
    <div th:replace="~{footer :: footer}"></div>
</div>
</body>
</html>